[2017-09-02 02:38] atellmer opened #4 "Doesn't work with awesome-typescript-loader and transpileOnly: true"
Hello!
Thanks for the plugin, but I have a some troubles with him.
He doesn't work with awesome-typescript-loader, when I set option transpileOnly: true.

node 8.2.1
webpack 3.0.0
awesome-typescript-loader 3.2.3

[2017-09-02 17:26] Igorbek commented on #4
Hi, thanks for reporting.
Do you use it in watch mode or full bundling?
There's a known limitation that currently awe-t-l does not use transformers in the forked compilation (used in watch mode) see s-panferov/awesome-typescript-loader#423 and s-panferov/awesome-typescript-loader#447.

[2018-03-08 07:53] alteredtastes opened #6 "With HappyPack"
Hi there @Igorbek - I'm having some issues setting this up but my team would love to have this improved debugging experience. We are not using hot reloading and we have ts-loader v3.1.1 with HappyPack. My configuration currently looks like..
[code]
Is there something you see that is missing or problematic in this usage? I am seeing the build succeed but still with no bindingName/filenames on the g

[2018-03-08 15:35] Igorbek commented on #6
Hi, thank you for reporting.
Unfortunately, as far as I know, `ts-loader` did not implement that feature.
The issue is that when HappyPack/thread-loader forks processes it cannot serialize functions inside options. And since `getCustomTransformers` is a function, it is not transferred to a forked process.
`awesome-typescript-loader` has [implemented a feature](https://github.com/s-panferov/awesome

[2018-03-08 15:37] Igorbek commented on #4
The feature has been implemented in https://github.com/s-panferov/awesome-typescript-loader/pull/531
I will update documentation how to use it.

[2018-03-08 17:44] alteredtastes commented on #6
I see. I suppose I'll take this up in ts-loader. Thanks for reply!

[2018-03-16 17:57] alteredtastes commented on #6
Pending fix is in review thanks to @vagusX 🎉  👉  https://github.com/TypeStrong/ts-loader/pull/745

[2018-03-19 01:54] Igorbek commented on #4
`README` has been updated with the instructions.

[2018-03-19 01:54] #4 closed

[2018-03-19 01:54] Igorbek commented on #6
`README` has been updated with the instructions.

[2018-03-19 01:54] #6 closed

[2018-04-19 21:48] Ky6uk opened #10 "Named imports problem"
Those two snippets generate different classnames. That behaviour breaks style extending feature.

[code]

---
* This is okay. `Header` and `H1` are different classnames. `H1` is an extended version of `Header`.

[code]
---
* This is **not** okay. Exported version of `Header` the same as imported (the same classname).

[code]

[2018-04-23 17:16] Igorbek commented on #10
In general, you should not rely on the class names as they are generated by `styled-components` and encapsulated. This plugin only adds human-readable name to that names for simplifying debugging.

Can you please elaborate:
- what are the class names being generated in your case?
- what are expected class names?
- how does it break style extending feature?
- how are you using these names for style

[2018-04-23 19:58] Ky6uk commented on #10
There is the elementary example above which works fine without this plugin or without named imports. Just try to compile it **with** and **without** `typescript-plugin-styled-components` and you will see the output completely different because the plugin breaks SC-generated classnames.

* ✅ `SC` + named imports **without** `tpsc`.
* ✅ `SC` + `tpsc` **without** named imports.
* ❌ `SC` + `tpsc` **wi

[2018-04-29 01:41] Igorbek commented on #10
Filed an issue https://github.com/styled-components/styled-components/issues/1715

[2018-04-30 17:32] farant opened #11 "Not working with typescript 2.8"
I noticed the plugin stopped working (no modifications to emitted class names) after upgrading our project to typescript 2.8.

Using yarn to force `typescript-plugin-styled-components` to depend on typescript 2.8 seemed to fix the problem. In case anyone else runs into the problem, here's what we added to our package.json:

[code]

[2018-05-01 02:02] Igorbek commented on #11
Version 0.0.6 just has been published where `typescript` is a peer dependency.
That must fix your issue. Let me know if it helps or not.

[2018-05-01 14:57] farant commented on #11
Thanks! Looks like it fixed the problem

[2018-05-28 03:43] umlx5h opened #12 "How to append the file name to class name?"
Sorry newbie question.
How can I setup to add the file name(class name) to the class display name?
With default setup, styled-components's component name is only appended to the class name.

Example

Test.tsx
[code]
↓
[code]

I want to convert this as follows.
[code]

[2018-05-28 07:58] winterbe commented on #11
Just tested with TS 2.8 and I can confirm that it works.

I also wanted to say "thank you" for your work publishing this project. 👏

[2018-05-28 09:04] umlx5h commented on #12
Sorry, I figured out as follows.
[code]

[2018-05-28 09:04] #12 closed

[2018-05-28 15:32] #11 closed

[2018-06-20 20:41] Ky6uk commented on #10
It looks fixed in SC v3.3.3.

[2018-06-20 20:41] #10 closed

[2018-07-09 12:02] Ky6uk opened #13 "Support custom props"
The plugin doesn't compile code with type arguments for tagged template strings.

So the code below

[code]

will throw something like

[code]

[2018-07-09 23:46] Igorbek commented on #13
Thank you for reporting, I'll check it shortly.
Also, can you please verify that you use the single TS node module and plugin doesn't have its own local one.

[2018-07-09 23:58] Igorbek commented on #13
Do you use Babel as a transpiler? Does the error come from it?

[2018-07-12 10:18] Ky6uk commented on #13
@Igorbek I'm not using babel. Maybe `awesome-typescript-loader` does, but I'm not sure.

[There is](Ky6uk/tpsc-tagged-templates-bug) a minimal repo for reproducing the bug.

[2018-07-12 18:44] Igorbek commented on #13
Thank you for this repro repo. I'm looking into this. It could be something to do with how atl handles results in the new version. Investigation is in progress.

[2018-07-15 20:35] Igorbek commented on #13
A small update. I still did not isolate the issue. It has something to do with transpilation after the transformations for targets higher than ES5.
You can notice that bug disappears in case you change target to ES5 or lower.
Also, as a workaround, you can define interface and the bug disappears as well:
[code]

[2018-07-26 08:16] acrazing opened #14 "Support minify"
It's useful for production, just like babel plugin, see <https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/minify/index.js>

[2018-07-26 18:57] Igorbek commented on #14
Thank for the suggestion. I will explore this feature. From what I saw, it looks they do:
- strip inline and line comments out
- reduce raw and "cooked" version of strings passed in

[2018-08-07 16:07] popbee commented on #14
+1 I would use this.

Beware that trying to minify the CSS can be dangerous because the interpolation could happen anywhere within the syntax of the CSS. Even if they tried to be very careful, they saw that it is near-impossible to guarantee it will be OK in all possible cases. The net result is that babel plugin does not turn it on by default.

Related to minifying. If you look into the generated

[2018-08-07 18:56] Igorbek commented on #14
Thank you @popbee for additional insights.
I have to convince that I won't be able to work on this or any other feature in a next month since have vacation scheduled. If anyone wants to make a PR it will be very welcomed.
Anyways, I will start to work on this in mid September.

[2018-08-29 12:14] Inoir commented on #13
Dont wanted to open new nearly same issue, but im using this plugin now on TS 3.0.1! All is working out of the box, no errors, only warnings about incorrect peerDependencies.

typescript: 3.0.1
styled-components: 2.4.0

If youve a look also into [ts-is-kind](https://github.com/mohsen1/ts-is-kind), the lib says its deprecated, cause TS >v2.6 supports this. So maybe can also get rid of this dependen

[2018-08-30 01:26] Igorbek opened #15 "Update TS dependency to support TS 3+"
reported in https://github.com/Igorbek/typescript-plugin-styled-components/issues/13#issuecomment-416930878

[2018-08-30 01:27] Igorbek opened #16 "Remove dependency to ts-is-kind"
reported in https://github.com/Igorbek/typescript-plugin-styled-components/issues/13#issuecomment-416930878

[2018-08-30 01:28] Igorbek commented on #13
Thank you for pointing this out @Inoir . I'll update the library in the next couple days.

[2018-08-30 07:51] #15 closed

[2018-08-30 07:51] #16 closed

[2018-08-30 08:01] Igorbek commented on #13
@Inoir [a new release](https://github.com/Igorbek/typescript-plugin-styled-components/releases/tag/v0.0.7) with the fixes has been published.

[2018-08-30 15:11] Igorbek commented on #13
Oh, I'm sorry I closed it. I'll have another look into this

[2018-09-14 06:30] maitriyogin opened #18 "Styled template string types ??"
Hiya,
I'm currently trying to use typescript with a react native application and have run into a problem when using @types/styled-components...
When I try and use a styled component as a component
[code]
I get the following
[code]
under the `<LoginFormStyledView />` component...
What do I need to do to get rid of this error?
Cheers,
Stephen.

[2018-09-20 21:15] ravecat opened #19 "How get display name for styled component?"
Thank you for transfer babel plugin functionality for TypeScript!

I followed step by step [instructions](https://github.com/Igorbek/typescript-plugin-styled-components#forked-process-configuration) and got that

![example](https://preview.ibb.co/n7MhKz/example.png)

Can I get prefix `<fileName>__Wrapper` like babel plugin?

[2018-09-20 22:33] Igorbek commented on #19
There's [an options object](https://github.com/Igorbek/typescript-plugin-styled-components#options) that you can pass to `createTransformer`:

[code]

[2018-09-21 23:08] cloutiertyler opened #20 "Server-side rendering"
Thank you so much for developing this, it's great!

Is it possible to use this for server-side rendering? As far as I can tell it seems like there's no way to transform the code/styles that is rendered on the server.

[2018-09-23 08:44] ravecat commented on #19
Thank you, @Igorbek !

[2018-09-23 08:44] #19 closed

[2018-09-28 08:32] fabyo82 commented on #20
@Igorbek I created a PR to generate unique component ids between Server and Client, in a similar way the babel plugin works.

[2018-10-11 18:38] Igorbek commented on #13
It seems the issue in `awesome-typescript-loader@5`. When I downgraded it to 4.x and 3.x your repro code worked fine. I'll examine their code what was changed in v5.

[2018-10-11 20:33] Igorbek commented on #13
Correction: it does not work actually.

[2018-10-12 05:54] Igorbek commented on #13
It turned out to be a TS bug: https://github.com/Microsoft/TypeScript/issues/27854

[2018-10-12 17:31] Igorbek commented on #18
Closing, feel free to reopen.

[2018-10-12 17:31] #18 closed

[2018-10-16 05:51] Igorbek opened #22 "Automated builds"
Need to configure Azure DevOps for
- [x] PR check build
  - run typecheck and tests
  - support multiple TS versions
- [x] CI build that publishes package to npm

[2018-11-01 13:18] gtrufitt commented on #13
Hey @Igorbek, for clarity, do you think there is a workaround for this for the time-being without using the dev branch of TypeScript? Thanks!

[2018-11-12 12:11] Ky6uk commented on #13
Just upgraded [repro repo](https://github.com/Ky6uk/tpsc-tagged-templates-bug). I'm not sure TS fix currently presented in `v3.1.6` but the bug still exists.

<details>

## System:
 - OS: macOS 10.14.1
 - CPU: (4) x64 Intel(R) Core(TM) i5-4250U CPU @ 1.30GHz
 - Memory: 130.05 MB / 8.00 GB
 - Shell: 4.4.23 - /usr/local/bin/bash
## Binaries:
 - Node: 11.1.0 - /usr/local/bin/node
 - Yarn: 1.12.3 - /u

[2018-11-12 20:35] Igorbek commented on #13
Unfortunately [the fix](https://github.com/Microsoft/TypeScript/pull/27964) will go to TypeScript 3.2 only.

[2018-11-14 00:14] Igorbek commented on #13
BTW you can try it out with `typescript@next` or `typescript@dev`

[2018-11-16 14:03] Ky6uk commented on #13
Yep, just tested it on TS `3.2.0-rc` and it's working fine.

[2018-11-20 08:26] karolfalkiewicz opened #24 "Problem with displayName"
I added this plugin to my webpack configuration with is using `ts-loader`. Done everything according with README. Plugin works fine, but got issue with configuring the `displayName` in react dev tools. Currently it always display components name as `styled.h1`, `styled.p` etc.. I would like to see actual variable names here like the Babel version of plugin does it as default. So for example instea

[2018-11-20 08:43] karolfalkiewicz commented on #24
Ok it is possible to fix 1st part by manually setting the displayName for component, but this isn't very pleasant. Would prefer way to do it automatically.

[2018-11-20 16:32] Igorbek commented on #24
Sorry to hear this. Can you please create a repository that reproduces the issue.
- include your webpack configuration
- example typescript code that uses styled-components
- describe how you build and run it

Please see how other reporter created a repo that reproduced his issue: https://github.com/Igorbek/typescript-plugin-styled-components/issues/13#issuecomment-404464576 ( [repo](https://githu

[2018-11-21 18:23] Igorbek opened #25 "Release 1.1 Checklist"
- [ ] fix duplicate component id generation
- [ ] update README
- [ ] document new options
- [ ] add automated build for publishing

[2018-11-29 21:52] Igorbek commented on #13
Fixed with [TypeScript 3.2](https://github.com/Microsoft/TypeScript/releases/tag/v3.2.1).

[2018-11-29 21:52] #13 closed

[2018-12-05 15:57] mackness opened #28 "Use with Babel 7"
Can I use typescript-plugin-styled-components if I'm compiling TS with babel 7?

[2018-12-05 15:58] #28 closed

[2018-12-19 09:19] akiym opened #29 "Support css prop"
https://github.com/styled-components/babel-plugin-styled-components/pull/172

[2019-01-07 21:40] irace commented on #29
Yes please – this would be a huge boon

[2019-01-29 16:26] denis-sokolov opened #30 "Support style objects"
[Style objects](https://www.styled-components.com/docs/advanced#style-objects) is a way to use styled components with a different syntax, without the use of template literals. Instead of passing a multiline string, we pass in a style object:

[code]

The benefits of this are most notable in TypeScript projects, where the keys are autocompleted and the values are typechecked. It also reduces the nu

[2019-02-01 05:51] Igorbek commented on #30
Thank you for pointing out to this. This is something that we definitely need to support and will.
The change is rather trivial and will not take long. Probably I can find time to add it within a week.

[2019-02-01 07:27] #30 closed, assigned to Igorbek

[2019-02-01 17:49] Igorbek commented on #30
Released in 1.2.0

[2019-02-18 11:31] jcampalo commented on #14
Any updates @Igorbek?

[2019-02-18 21:19] #22 closed

[2019-02-18 21:21] Igorbek commented on #24
I'm closing it since no more feedback.
@karolfalkiewicz please feel free to bring more info once you have.

[2019-02-18 21:21] #24 closed

[2019-02-18 21:28] Igorbek commented on #14
Ah, what a shame! I did start to work on that but din't have time to finish it yet.
The work in progress is in `minification` branch. All this week I'm on the Developer Week and won't be able to work. I'll try to get back to this next week. Hopefully should be done by end of February.
As always, any help will be appreciated and feel free to contribute.

[2019-02-26 06:20] bernatfortet commented on #6
@alteredtastes did this ever work for me?
It's still an issue for me. HappyPack and Webpack load just fine but there's no effect on the className side.

[2019-02-28 21:58] evankim390 opened #33 "jQuery's extend method ($.extend) is treated as a styled component"
Hi Igor, thanks for creating this package - overall it works great and the code is well written.

I'm trying to use this in my team's project, but I noticed that instances of jQuery's `$.extend` are treated as styled components and get expanded to `$.extend.withConfig`. I believe this is due to the `isValidComponentName` method in `createTransformer.ts`, which checks eligibility based on whether t

[2019-03-03 17:41] Igorbek commented on #33
Thank you for reporting @evankim390 !
I've fixed this by improving detecting of component names. Previously it incorrectly detected `_` and `$` as component names. Please see #34 ([test case](https://github.com/Igorbek/typescript-plugin-styled-components/pull/34/files#diff-47c61abdc68ef3c86718d5a2491ee763R43)) if it is what you need.
I'll publish an updated package later today.

[2019-03-03 18:08] evankim390 commented on #33
LGTM, thank you!

[2019-03-03 22:12] #33 closed

[2019-03-03 22:27] Igorbek commented on #33
The fix is in version 1.3.0 has been published.

[2019-03-06 08:52] Igorbek commented on #14
The feature is ready to be merged #35
I am not sure that everything is covered, please see if it does do that right, here in tests: https://github.com/Igorbek/typescript-plugin-styled-components/tree/minification/src/__tests__/baselines/minification

[2019-03-18 15:14] HoraceSupertramp commented on #14
Any news about this?

[2019-03-19 00:47] Igorbek commented on #14
@HoraceSupertramp the feature has been implemented, not yet merged though.
I can create a preview release tomorrow so you can try it out. If everything is ok, it will be released as a full release after 1 week.

[2019-03-19 08:58] HoraceSupertramp commented on #14
Fine for me! Can’t wait to integrate this within a JavaScript project of mine

[2019-03-19 15:25] #14 closed

[2019-03-19 15:33] Igorbek commented on #14
[Version 1.4.0-rc](https://github.com/Igorbek/typescript-plugin-styled-components/releases/tag/1.4.0-rc) with minification support has been published. Any feedback will be much appreciated.

[2019-03-20 11:38] Ky6uk opened #36 "`minify` option breaks styles"
I'm still investigating the code blocks but what I found for a quick look that option breaks animations through `transition` property and some paddings/margins. I will add code samples in the future.

[2019-03-22 16:40] Igorbek commented on #36
Yes, please give some sample code.
I have tested on quite a big codebase (-30kb by minification) and didn't find issues so far.

[2019-03-25 18:44] phmatray opened #38 "CRA example"
Would it be possible to add an example to the README showing how to configure typescript-plugin-styled-components with CRA2 --typescript?

[2019-03-26 15:44] Ky6uk commented on #36
One of the problems is `keyframes`: https://github.com/Ky6uk/typescript-plugin-styled-components-36

[2019-03-26 17:48] Igorbek commented on #36
Thank you, @Ky6uk
It seems the issue is when a placeholder followed by spaces and then numeric values: `${smth} 2s` -> `${smth}2s`, which when it gets interpolated has no separation. I'll look into this shortly.

[2019-03-27 05:14] #36 closed

[2019-03-27 05:21] Igorbek commented on #36
The fix has been release as of [1.4.1](https://github.com/Igorbek/typescript-plugin-styled-components/releases/tag/1.4.1).

[2019-03-27 05:38] Igorbek commented on #38
Thank you for filing a request.

CRA2 uses Babel to transpile code and does not use any webpack typescript loaders.
First of all, there's another solution for Babel: [`babel-plugin-styled-components`](https://github.com/styled-components/babel-plugin-styled-components). It might be sufficient for your goals.
Second, after some research it seems to be impossible to configure Babel's typescript tran

[2019-03-27 11:11] Ky6uk opened #40 "Minify option removes some spaces with interpolations"
`padding: 0 0 13px ${'50px'};` will be converted to `padding: 0 0 13px50px` with option `minify`.

[2019-03-27 17:29] Igorbek commented on #40
@Ky6uk thank you for reporting these issues!
The fix is in #41 and will be released soon as 1.4.2

[2019-03-27 17:42] #40 closed

[2019-03-27 17:47] Igorbek commented on #40
Fix has been released in [1.4.2](https://github.com/Igorbek/typescript-plugin-styled-components/releases/tag/1.4.2)

[2019-04-13 00:00] brianHolonis commented on #24
Is is possible to automatically assign a display name to styled-components or is it necessary to use .withConfig to set the displayName? I'm using typescript. How could I configure it to allow for automatic displayName assignment? Thanks

[2019-04-13 00:03] Igorbek opened #42 "[moved] Usage question"
Is is possible to automatically assign a display name to styled-components or is it necessary to use .withConfig to set the displayName? I'm using typescript. How could I configure it to allow for automatic displayName assignment? Thanks

_Originally posted by @brianHolonis in https://github.com/Igorbek/typescript-plugin-styled-components/issues/24#issuecomment-482756545_

[2019-04-13 00:04] Igorbek commented on #24
@brianHolonis This issue is closed. I moved your question to a new issue #42

[2019-04-13 00:10] Igorbek commented on #42
@brianHolonis `styled-components` cannot infer the name of the component by its own:

[code]

from this styled-components only has information that it is a div element, but `MyComponentName` belongs to your code and is not passed down there.

This project (not `styled-components`, but this repo) is a tool that helps you just write code like you would write before and get component names automatica

[2019-04-15 16:43] brianHolonis commented on #42
Thank you. I have it working. I noticed in jest tests if I output the component with debug ie console.log(component.debug()) I see <styled.div /> rather than the name. Can you tell me where I need to configure so that the DisplayName is used in the jest tests as well?

[2019-05-15 01:01] mt-roberto opened #43 "[minify] adds spaces"
In some cases minify feature adds some unwanted spaces.

Examples:

[2019-05-15 01:01] mt-roberto opened #44 "[minify] adds spaces"
In some cases minify feature adds some unwanted spaces.

Example:

origin:

`transition: width ${(props: IProps) => props.speed}ms ease-in;`

result:

`transition: width 500 ms ease-in;`

[2019-05-15 01:06] #43 closed

[2019-05-15 04:14] Igorbek commented on #44
Thank you for reporting @mt-roberto
I will investigate the issue shortly.

[2019-05-15 05:58] #44 closed

[2019-05-15 06:07] Igorbek commented on #44
Fixed by #45 and released as [version 1.4.3](https://github.com/Igorbek/typescript-plugin-styled-components/releases/tag/1.4.3).

[2019-05-15 06:09] Igorbek commented on #42
Closing as was no response from @brianHolonis
Please feel free to open a new issue and reference this.

[2019-05-15 06:09] #42 closed

[2019-06-05 18:47] elegos opened #46 "ttypescript"
Hello!

Moving from ES to TS, I'm having big headaches, in particular when styled-components comes in. I used to run the bable plugin to have displayName and talkative class names.

The problem is that I'm working on a library, and not with a bundled application, which makes impossible for me to use webpack to create the dist files (I tried it, but it breaks all the module's paths!).

I found that

[2019-06-05 21:35] Igorbek commented on #46
@elegos Thank you for the question.

Indeed, I think we need to have a documentation section how to use it with `ttypescript`. I will verify and add documentation some time soon.

It seems that you can already use it with very simple config:

`tsconfig.json`:
[code]

in addition to `minify` option you can specify [any other option](https://github.com/Igorbek/typescript-plugin-styled-components#opt

[2019-06-06 06:42] elegos commented on #46
Hello @Igorbek thanks for the prompt response!

I tried indeed to use it like that even without specifying the type: "config" and it seems to work! I was confused because the other transformer plugins used to expose the transformer directly, but this package exposes a transformer creator. Nonetheless ttypescript was able to handle it! Aweseome :)

[2019-06-06 10:47] cevek commented on #46
@elegos if you don't specify the type: "config" you cannot provide options because default type is "program" which provide the ts `program` as first argument to plugin

[2019-06-13 08:25] MadMed677 commented on #46
Hi.

I see in the [Typescript documentation](https://github.com/Microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin#handling-user-configuration) have the same "plugins" option, but the declaration is different.
The key is `"name"` not the `"transform"`.
But after running "tsc" I have not css classes as "ttsc" have.

---

#### Running with "ttsc" looks like:
[code]
and `have` css classes

-

[2019-06-13 17:34] Igorbek commented on #46
@MadMed677 TypeScript CLI compiler does not support plugins or transformers out of the box, and unlikely to support in foreseeable future (this is an explicit design decision).
The documentation demonstrate how plugins can be used in TypeScript **language service**. The example just shows how you can enable support of plugins in your own program that uses the service. For example, vscode uses such

[2019-06-19 05:56] Igorbek commented on #46
Documentation (README file) has been updated.
Please feel free to open new issue an time.

[2019-06-19 05:56] #46 closed

[2019-08-20 01:00] Bdthomson commented on #33
I am running into the exact same issue with Backbone views such as this one:

[code]

produces

`TypeError: MyView.extend.withConfig is not a function`

[2019-08-20 16:00] Igorbek opened #48 "Deprecate `extend` method on a component"
Reported by @Bdthomson in #33

Suggested solution:
- make `extend` identifier configurable like other identifiers;
- set default value to an empty array;
- add readme/release notes with breaking change information and instructions to re-enable by providing settings.

[2019-09-10 19:40] SomethingSexy opened #63 "ttsc and webpack not matching className"
Do I need to use the same transformer reference if I am using ttsc to build the server-side and webpack to use the client side?

This is my tsconfig that is being run using ttsc.
[code]

My webpack configuration is using:

[code]

However, I am still getting Prop className did not match with a different class name on the server vs the client.  Am I missing something?

[2019-09-26 15:24] Igorbek commented on #63
Also, it'd be useful to know what the versions of the transformer as well as the versions of typescript are used to compile code for server and for client. If they are different it might produce discrepancies in generating ids of components.

Second, make sure the `minify` option has the same value on server and client.

And lastly, the difference may come from the styled-components itself. This t

[2019-09-30 14:46] SomethingSexy commented on #63
Thanks for the feedback!  I will look into your suggestions this week.  If those don't work I will provide relevant code.

[2019-10-02 13:48] SomethingSexy commented on #63
OK so made sure things matched up and I am still seeing differences.

Here are the versions I am using:
- "ttypescript": "^1.5.7"
- "typescript-plugin-styled-components": "^1.4.3"
- "typescript": "^3.6.3"

Here is what my webpack transformer looks like.  I keep the ssr true in there for now.
`
const styledComponentsTransformer = createStyledComponentsTransformer.createTransformer({
  "minify": tru

[2019-10-02 16:14] Igorbek commented on #63
Hm, is it possible that the root compilation folder in `webpack` and `ttsc` are different in your setup? The hash is calculated based on the component name (`ThemeHeader` matched), filename relative to the compilation source root and component's number within the file (should be consistent). I suspect the relative file name might be different.

Please take a look if that is something you can confi

[2019-10-02 16:34] SomethingSexy commented on #63
That is a good thought! I will investigate that further.

[2019-10-02 17:02] SomethingSexy commented on #63
So I think your thought is correct but I am not sure why it is doing that.  So when I run the build with ttsc the sourceRoot is undefined.  When it runs through webpack though it has a sourceRoot set.

[2019-10-02 17:08] Igorbek commented on #63
Try to set `sourceRoot` option in your `tsconfig.json` file.

[2019-10-02 17:12] SomethingSexy commented on #63
Doh! Ya I think that is it.  Makes sense.  Testing it now.

[2019-10-02 18:38] SomethingSexy commented on #63
Yup that did it! Thank you for working through this with me.

[2019-10-02 20:37] Igorbek opened #73 "Document consistent hash generation troubleshoot"
As was discovered in #63 when `ttypescript` is used, file names that are used for component id hash, might not be consistent. We need to document how to troubleshoot this.

Maybe, additionally, consider adding an option for solving `sourceRoot` issue.

[2019-10-02 20:37] Igorbek commented on #63
Good to hear it! I'm closing this, but with added an action item #73

[2019-10-02 20:37] #63 closed

[2019-10-26 06:00] acrazing opened #89 "Bug report: some syntax cannot be transformed"
1. in function return statement:
[code]

    transform result:

[code]

2. wrapped by type cast:

[code]

    transform result:

[code]

[2019-11-22 05:35] Igorbek commented on #89
@acrazing thank you for the request.
It seems to be more of enhancement rather than a bug report.
I would like to clarify what is the expected result in these cases?

### Case 1

[code]

- should it give the name `inReturn`?
- what if the function is not pure?
  - should it only allow to have a single `return` statement?
    - why not to write `const InReturn = styled.div`...`; function inReturn {

[2019-11-22 05:48] acrazing commented on #89
It's too late to talking about this issue, I've written a replacement to support my project, you can see it at [acrazing/typescript-styled-components-plugin](https://github.com/acrazing/typescript-styled-components-plugin).

Any way, **case 1** has nothing to do with side effects and `displayName`, we just want to add `componentId` for `SSR`, this case also exists in other places, such as `export

[2019-11-22 05:48] #89 closed

[2019-11-25 15:28] VienNguyen113 opened #116 "NextJs+typescript"
My app using next-js+ typescript (next-babel-loader already support typescript). Is there any way to integrate this plugin with the next-babel-loader

[2019-12-10 23:26] Igorbek commented on #116
Sorry for the late response. I will look into this in the next couple of days and tell you if it is possible to use the plugin.

[2020-01-07 17:18] HoraceSupertramp opened #142 "\t minification"
I just checked the minified output code of an application i developed using this plugin. Comes out that, unlike spaces, none of the tab characters within CSS template literals get omitted during minification.

As an example, the following styled components occurring in my project's code
[code]
gets compiled into
[code]
leaving those tabs behind. Isn't it supposed to remove those too?
Thank you in

[2020-01-21 21:01] #142 closed

[2020-01-21 21:04] Igorbek commented on #142
@HoraceSupertramp thank you for the report.
I'm sorry I missed your message first, it just got to my attention.
It's been fixed now and will be released soon in 1.4.4

[2020-01-21 23:11] HoraceSupertramp commented on #142
@Igorbek I shall restore my .prettierrc to tabbed indentation. Thank you!

[2020-01-29 01:18] scottc-netflix opened #159 "DisplayNames don't work with styled-components@5.0.0"
Otherwise everything still seems to work. I was using the following:
typescript@3.6.4
ttypescript@1.5.8
rollup@1.27.8
styled-components@4.3.2
typescript-plugin-styled-components@1.4.3

Upgraded styled-components to 5.0.0 and everything works, but no displayNames, just a hash. Tsconfig is unchanged and this is the relevant section of my tsconfig.json:

[code]

[2020-01-29 01:30] scottc-netflix opened #160 "Documentation: How to use custom transformer?"
The docs show at the very bottom an example of using createStyledComponentsTransformer, but what do I do with it? Right now I just have the JSON in my tsconfig.json. It would also be a smoother experience if you show how to import a given function like that. Thanks!

[2020-01-29 06:06] Igorbek commented on #159
Thank you for reporting. I will see what it might be. A minimal repro code would be useful. Or at least an example of how your components look like with `styled`.

[2020-03-27 06:14] joshuatvernon commented on #116
@Igorbek did you ever figure this out?

[2020-04-03 19:41] Igorbek commented on #116
Actually no. So NextJs uses babel for transpiling and not TS itself. Babel's loader just strips out the types using its native TS support but then transpiles by itself. This means the TS transformers are not involved in this process at all. This plugin is a TS transformer, so it cannot be integrated as such.
You may want to look at styled-component plugin for babel.

[2020-04-16 15:33] jtomaszewski commented on #116
I submitted a small PR to include the above info in the README: https://github.com/Igorbek/typescript-plugin-styled-components/pull/209 . If merged, this issue probably can be closed as well.

[2020-04-16 17:25] #116 closed

[2020-06-08 11:18] Eoyo opened #233 "The space before the "-" is missing when using CSS variables"
[code]
There is no problem when using only the `calc` method, but there is a bug when combined with the `var` method. Browser can't parse missing spaces before '-'

[2020-07-08 07:10] gitowiec opened #247 "Is it possible to disable vendor prefixes during development?"
I have asked this question on SO, so I don't want to repeat myself. But it was in regard of sole styled-components. When I was done with asking the question I realized that I rely on this `typescript-plugin-styled-components` library. I would like to ask this question also in regard of it. Is it possible to add configuration which will disable vendor prefixes? Here is my SO question https://stacko

[2020-07-17 14:33] Eoyo commented on #247
It would be nice to use StyleSheet Manager in Styled-components v5 plus.

[2020-07-20 00:55] haydenhancock commented on #159
I seem to have this same issue. I am on styled-components ^5.1.1. I am not able to get the display name of the styled components to actually display. In addition, isn't the default value for the displayName true?

[2020-11-17 16:11] mcroba opened #310 "How to use getDisplayName with ttypescript compiler"
Hi,

How can I configure my tsconfig.json to define the getDisplayName function in order to compile with ttypescript?
[code]

Thank you in advance for your help

[2021-01-21 15:21] renatonouman commented on #48
Hey @Igorbek , it seems like the PR #47 is stale now.
Mind if I pick up this issue and try to come up with a fix?

I saw your [comment](https://github.com/Igorbek/typescript-plugin-styled-components/pull/47#issuecomment-523077245) here and can work towards that.

[2021-01-21 16:03] Igorbek commented on #48
I definitely don't mind, please go ahead @renatonouman if you want.

[2021-01-24 21:01] jmlavoier opened #342 "Doesn't satisfy typescript@ˆ4.x"
After the library has been installed, I've received a warning about typescript peer dependency. And after an `yarn check` I've received this error reported about that:

[code]

I've investigated and found this PR: [#312 - Support TypeScript 4](https://github.com/Igorbek/typescript-plugin-styled-components/pull/312). So I don't know whether this library is working properly or not with *TS 4*.

If i

[2021-01-26 17:09] renatonouman commented on #48
Thanks @Igorbek . I'll give it a go in the next couple of weeks.

[2021-01-29 13:40] atatakobry commented on #38
FYI: CRA allows to start project with typescript support, so this plugin looks very interesting. Unfortunately, I have no idea how to make it works :(

[2021-03-31 07:26] kirstymullen opened #371 "Doesn't transform anonymous default exports"
The transformer doesn't include anonymous exports:
`export default styled(Thing)
`

It might be best practice to ensure all exports are named, but I'm working in a large project that already has a significant amount of these unfortunately.

It looks like the plugin did support this at some point, as getDisplayNameFromNode is already able to handle it.

[2021-03-31 07:28] kirstymullen commented on #371
I've created this PR to fix it: https://github.com/Igorbek/typescript-plugin-styled-components/pull/367

[2021-04-02 19:50] #371 closed

[2021-04-07 06:05] Igorbek commented on #342
It's now been fixed and released in https://github.com/Igorbek/typescript-plugin-styled-components/releases/tag/1.5.0

[2021-04-07 06:05] #342 closed

[2021-04-07 06:13] Igorbek commented on #233
@Eoyo
[code]

[2021-04-08 03:26] Igorbek commented on #48
Closed in #370

[2021-04-08 03:26] #48 closed

[2021-04-15 18:19] mcissel opened #381 "Running two instances of styled components causes class name clashes"
We need to be able to namespace each instance, like
https://styled-components.com/docs/tooling#namespace

The problem is that hashing does not create unique classnames between instances. It's a known issue that was solved using the babel plugin. This plugin needs that as well, so we can use typescript.

[2021-05-17 20:29] numonium commented on #381
I'm running into this issue on multiple sites that use `styled-components` 👍

[2021-06-14 22:31] #381 closed

[2021-06-28 15:10] valerii15298 opened #427 "Using with Vite.js"
Hello. Is there any advices how to use it with Vite.js? Thanks:)

[2021-06-30 08:26] Sealarn commented on #233
I have the same issue.
[code]

[2021-07-09 00:33] #427 closed

[2021-07-09 00:37] #233 closed

[2021-07-09 01:05] Igorbek commented on #233
@Eoyo @Sealarn it's now been fixed and released in 2.0.0, see the announcement https://github.com/Igorbek/typescript-plugin-styled-components/discussions/440

[2021-07-09 16:55] #310 closed

[2021-07-09 16:56] #160 closed

[2021-08-23 02:43] LaamGinghong opened #477 "Property 'css' does not exist on type"
![image](https://user-images.githubusercontent.com/33472924/130382867-98513748-8d4b-4650-b356-b8c2ff71c40e.png)
I want to know how to fix this ts error.

[2021-08-29 05:27] #477 closed

[2021-09-10 17:06] lifeiscontent opened #492 "Please review"
Hi @Igorbek sorry to bug you, but would you mind taking a look at this PR? https://github.com/DefinitelyTyped/DefinitelyTyped/pull/55580#issuecomment-913875314 the Definitely Typed team wants a review from one of the maintainers.

[2021-09-24 14:17] x3hong opened #502 "ts-loader getStart getEnd ，return position is not right"
i am  writing a custom typescript transform, but this getstart getend returned postion  is not right。
how can i get the right position

[2021-10-28 12:18] vladislaver opened #528 "Doesn't transform styled components with config"
StyledComponentsTransformer ignores styled components with config like this:
[code]

typescript@4.4.4
styled-components@5.3.3
typescript-plugin-styled-components@2.0.0

[2021-11-03 04:29] #492 closed

[2021-11-04 05:02] Igorbek commented on #528
Hm, it's not supported because `withConfig` was not part of the public surface.
I guess it was changed some time ago. I would argue if you use `useConfig` manually it should opt out of display name generation. I will need to investigate how well it would be working with multiple `useConfig`.

[2021-11-04 05:04] Igorbek commented on #502
I'm not sure how this question corresponds to this project. It seems it is more like a question for TypeScript team.
I'm closing, feel free to add more details if you think that is the right place.

[2021-11-04 05:04] #502 closed

[2021-11-04 05:09] Igorbek commented on #247
It seems the question needs to be addressed to the core styled-components library, not this one. We do not provide this functionality.

[2021-11-04 05:09] #247 closed

[2021-11-22 00:03] unicornware commented on #159
i think i'm having the same issue as well. my components have the following shape:

[code]

package versions:

- `typescript`: `4.5.0-beta`
- `typescript-plugin-styled-components`: `2.0.0`
- `styled-components`: `5.3.3`

@Igorbek please let me know if i should open a new issue instead of continuing this thread!

[2021-11-22 00:32] unicornware commented on #159
@Igorbek

i did some more digging and it turns out storybook is relevant! the native babel configuration was overriding my typescript config in such a way that i have to use `babel-plugin-styled-components` instead of `typescript-plugin-styled-components`. sorry for the confusion! not sure if display names are still an issue though, so if i get a chance i'll try to look more into that.

[2021-11-22 21:48] Igorbek commented on #159
Thank you for the info and investigation. Yes, if Babel is used, it is recommended to use `babel-plugin-styled-components`.

[2021-12-27 23:46] velsa opened #553 "Using with Vite?"
Since this plugin is only a transformer, I can't figure out how to add it to Vite.

Would be great if someone could provide an example config for using this plugin with Vite for debugging.

[2021-12-28 00:11] velsa commented on #553
Figured out a way :)

Just needed to use Vite's `react` plugin and then use the standard `babel-plugin-styled-components`:

[code]

[2022-02-04 21:15] aurora-stian opened #566 "License please"
Hi @Igorbek:

Great library! Could you add a LICENSE to it so that it's clearer on usage considerations? Thank you.

[2022-02-07 09:24] rwieruch opened #567 "CSS prop does not work with TS (using Babel), but with JS it did"
The last days I converted a library of mine from JavaScript to TypeScript. Everything works except for one thing: Previously I have used `babel-plugin-styled-components` to enable the `css` prop in my library. Everyone who used the library had to install styled-components as dependency therefore. Since I moved to TS, I read up that I had to use `typescript-plugin-styled-components` now.

So added

[2022-02-09 15:02] rwieruch commented on #567
Seems to be related to [no css prop support](https://github.com/Igorbek/typescript-plugin-styled-components/issues/29). How difficult would it be to integrate it in this library @Igorbek ? Hard to tell from my perspective, because I am not super much into build tools unfortunately.

[2022-02-15 13:00] rwieruch commented on #29
In case anyone runs into this: https://github.com/styled-components/babel-plugin-styled-components/issues/222#issuecomment-1040242319

[2022-02-15 13:00] rwieruch commented on #567
Closed in favor of https://github.com/Igorbek/typescript-plugin-styled-components/issues/29

[2022-02-15 13:00] #567 closed

[2022-02-15 13:11] zdila commented on #29
@rwieruch for Emotion we don't need this library. There it somehow works out of the box.

[2022-02-19 02:40] #553 closed

[2022-03-23 06:51] alteredtastes opened #588 "does it work with webpack 5?"
Hi there, I used to use this plugin with webpack 4 with happy pack and ttypescript.
I'm upgrading build deps now and switching to latest webpack 5 with ts-loader. I am following instructions on the readme for ts-loader and webpack and am not getting display names. Should these instructions still apply to these latest versions?

I'm using webpack 5.65.0, ts-loader styled-components 5.3.3, and  ts-l

[2022-03-30 07:18] jussikinnula opened #593 "TypeScript version doesn't need to be pinned in peerDependencies"
The rationale of pinning TypeScript version in peerDependencies should not be really required, since TypeScript versions usually don't create breakage for older code. It's possible that older TypeScript versions wouldn't work, so probably it would be safe to leave the peerDependency as minimum version.

[2022-05-29 14:02] richardo2016 commented on #588
same issue with me, my deps info:

[code]

[2022-05-29 21:20] tuzmusic commented on #38
Are you saying that your the babel plugin will work for CRA with TS, and that your plugin is only necessary for custom TS installations?

[2022-05-30 00:28] Igorbek commented on #38
That's right, this plug-in is not for Babel. It is for such setups where the TypeScript compiler is used.

[2022-05-31 14:47] tuzmusic commented on #38
@atatakobry @phmatray I've just succeeded in getting the "original" babel plugin to work in my CRA typescript app by following the instructions [here](https://dev.to/ansonh/simplest-way-to-install-babel-plugins-in-create-react-app-7i5).

[2022-08-03 15:31] Artem29383 opened #644 "Breaks layout when using nested selectors from styled-components"
**Styles stop working when inside styled you try to style a nested element**
Style border-top for InnerContainer not working

`const InnerContainer = styled.div`
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
`;

const Container = styled.div`
    padding: 0 24px;

    & + & {
        ${InnerContainer} {
            border-top: 1px solid ${theme